server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health,info

  endpoint:
    health:
      show-details: always

spring:
  application:
    name: authService

  datasource:
    url: jdbc:postgresql://${AUTH_DB_HOST:auth-postgres}:${AUTH_DB_PORT:5432}/${AUTH_DB_NAME:auth}
    username: ${AUTH_DB_USER:auth_user}
    password: ${AUTH_DB_PASS:auth_pass}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

security:
  jwt:
    keys:
      publicKey: classpath:keys/jwt_es256_public.pem
      privateKey: classpath:keys/jwt_es256_private_pkcs8.pem
    issuer: "ashen-phoenix" #replace your organization name here
    expiry:
      access: 900        # access token expire time -> 15 min
      refresh: 2592000   # refresh token expire time -> 30 days

